[Unit]
Description=chrome status checker
After=network.target

[Service]
ExecStart=/home/hp/Pradeep-practice/linux/check_chrome.sh

[Install]
WantedBy=multi-user.target
